<div class="Crear-usuario">
    <div class="child">
        <div class="logo">
            <img src="assets/logo.ico" class="imagen">
            <h1 class="crearcuenta">¡Crea tu cuenta tuqui tuqui!</h1>
        </div>
    </div>
    <div class="sesion-form">
        <h1 class="bienvenida">Ya puedes hacer parte del nido</h1>
        <br>
        <p class="bienvenida2">Debes llenar todos los datos!</p>

        <form method="post">
            <!-- Nombre input -->
            <div class="row">
                <div class="col">
                    <div>
                        <input type="text" placeholder="Nombres">
                    </div>
                    <br>
                    
                    <!-- Tipo Doc input -->
                    <div>
                        <input type="text" placeholder="Tipo Doc.">
                    </div>
                    <br>

                    <!-- No. celular -->
                    <div>
                        <input type="number" placeholder="No. Celular">
                    </div>
                    <br>

                    <!-- Password input -->
                    <div>
                        <input type="password" placeholder="Contraseña">
                    </div>
                </div>

                <div class="col">
                    <!-- Apellido input -->
                    <div>
                        <input type="text" placeholder="Apellidos">
                    </div>
                    <br>

                    <!-- No. Doc input -->
                    <div>
                        <input type="number" placeholder="No. Doc.">
                    </div>
                    <br>

                    <!-- Email input -->
                    <div>
                        <input type="text" placeholder="Correo electronico">
                    </div>
                    <br>
                    <!-- Password input -->
                    <div>
                        <input type="password" placeholder="Confirmar Contraseña">
                    </div>                  

                </div>        

            </div>


            <br>

            <!-- Boton recordar -->
            <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" id="flexSwitchCheckChecked" checked>
                <label class="form-check-label" for="flexSwitchCheckChecked">Recordarme</label>
            </div>
            <!-- Boton crear cuenta -->
            <br>
            <button class="login">Crear cuenta</button>
            <br>
            <br>



        </form>

    </div>


</div>