html {
position: relative;
background: #067368;
}
.contenedor {
    position: absolute;
    top: 10%;
    left: 11%;
    right: 13%;
    width: 1048px;
    height: 500px;
    background: #DFF9F6;
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    
  }

.child {
    position: absolute;
    width: 524px;
    height: 500px;
    left: -2px;
    top: -1px;
    background: #FC8155;
    border-radius: 20px 0px 0px 20px;
}
.logo {

    position: absolute;
    top: 40px;
    left: 2%;

}
.sesion-form {
    position: absolute;
    top: 170px;
    left: 20%;
    right: 20%;
    margin-top: -10rem;
    margin-left: 35%;
    width: 50%;
}
input {
    padding-left: 2%;
    padding-top: 0.4rem;
    padding-bottom: 0.4rem;
    width: 25rem;
    margin-bottom: 0.5rem;
    border-radius: 20px;
    border-width: 1 px;
    border-color: rgba(10, 10, 10, 0.6);
}

::placeholder {
    color: rgb(150, 150, 150);
}

label {
    color:black;
    font-weight: bold;
}

.login {
    border-radius: 20px;
    color: black;
    font-size: 20px;
    font-weight:bold;
    width: 25rem;
    background-color: #FFB733;
    border-color: #FFB733;
}
.bienvenida {
    font-size: 30px;  
    color:black;
    font-weight: bold;
}

.fondo{
    background: #E5E5E5;

}
.lateral {
    position: absolute;
    width: 204px;
    height: 627px;
    left: 0px;
    top: 0px;
    background: #067368;
    
}
.barra {
    position: absolute;
    width: 1120px;
    height: 69px;
    left: 204px;
    top: -3px;
    background: #C7FDE7;
    display: flex;
    justify-content: flex-end;
    align-items: center;

}
#boton {
    background-color: #C7FDE7;
    border: none;
    color: black;
    padding: 12px 16px;
    font-size: 16px;
    cursor: pointer;
    font-weight:bold;
    border-radius: 10px;
    left: 20%;



}
#boton:hover {
    background-color: rgba(139, 255, 241, 1);
  }

.contenedor_boton {
    position: absolute;
    /*background-color: #FFB733;*/
    top: 90px; 
    left: 30px;
    width: 145px;
    height: 450px;
}
.logo_nombre {
    position: absolute;
    top: 11px; 
    left: 30px;
    width: 145px;
    
}
.contenedor_cuentas {
    position: absolute;
    width: 1120px;
    height: 558px;
    left: 204px;
    background: #E5E5E5;
    top:66px;

}
.titulo_pagina {
    position: relative;
    left:10px;
    font-size: 30px;  
    color:black;
    font-weight: bold;
}
.barra_scroll {
    background-color:  #D0CECE;
    display: flex;
    justify-content: space-evenly;

  }
  /*tarjetas */
  .fuente_tarjeta {
    left: 10px;
    font-size: 16px;  
    color:black;
  }

  /*tarjetas efectivo */
  .tarjeta_efectivo {
    width: 270px;
    height: 100px;
    border-radius: 10px;
    background-color: rgba(240, 170, 47, 0.5);
    border: 3px solid #F0AA2F;

    
  }
  #boton_tarjeta_efectivo {
    background-color: rgba(240, 170, 47, 0.5);
    border: none;
    color: black;
    padding: 11px 15px;
    font-size: 16px;
    cursor: pointer;
    font-weight:bold;
    border-radius: 10px;
    display: flex;
    justify-content: flex-end;

  }
  #boton_tarjeta_efectivo:hover {
    background-color: #F0AA2F;
  }


/*tarjetas electronico */
  .tarjeta_electronico {
    width: 270px;
    height: 100px;
    border-radius: 10px;
    background-color: rgba(230, 108, 51, 0.5);
    border: 3px solid #E66C33;

    
  }
  #boton_tarjeta_electronico {
    background-color: rgba(230, 108, 51, 0.5);
    border: none;
    color: black;
    padding: 11px 15px;
    font-size: 16px;
    cursor: pointer;
    font-weight:bold;
    border-radius: 10px;
    display: flex;
    justify-content: flex-end;

  }
  #boton_tarjeta_electronico:hover {
    background-color: #E66C33;;
  }



  